<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-body p-4">
      <h2 class="text-center mb-4 fw-bold text-primary">
        Paquetes
      </h2>

      @if (packages) {
        @if (packages.length > 0) {
          <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle text-center">
              <thead class="table-primary">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">ID</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de Salida</th>
                <th scope="col">Fecha de Entrega</th>
                <th scope="col">Dueño</th>
                <th scope="col">Opciones</th>
              </tr>
              </thead>
              <tbody>
                @for (deliveryPackage of packages; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ deliveryPackage.id }}</td>
                    <td>
                      <span class="badge rounded-pill
                        {{ deliveryPackage.isDelivered ? 'bg-success' : 'bg-warning text-dark' }}">
                        {{ deliveryPackage.isDelivered ? 'Entregado' : 'En camino' }}
                      </span>
                    </td>
                    <td>{{ deliveryPackage.departureDate | date }}</td>
                    <td>{{ deliveryPackage.deliveryDate  | date }}</td>
                    <td>{{ deliveryPackage.userName }}</td>
                    <td>
                      <div class="d-flex justify-content-center gap-2 flex-wrap">
                        <a class="btn btn-sm btn-info" [routerLink]="['/shopping-cart/display', deliveryPackage.id]">
                          <i class="bi bi-eye"></i> Detalles
                        </a>
                        <button
                          class="btn btn-sm btn-warning"
                          data-bs-toggle="modal"
                          data-bs-target="#dateModal"
                          (click)="selectDeliveryPackage(deliveryPackage)">
                          <i class="bi bi-arrow-repeat"></i> Cambiar Entrega
                        </button>
                        <button class="btn btn-sm btn-success" (click)="deliver(deliveryPackage.id)">
                          <i class="bi bi-check-circle"></i> Entregar
                        </button>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        } @else {
          <div class="alert alert-info text-center mt-4">
            No hay paquetes por entregar
          </div>
        }
      }
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dateModalLabel">
          Actualizar Fecha de entrega
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label" for="date">Nueva Fecha de Entrega</label>
          <input
            class="form-control"
            type="date"
            id="date"
            #dateInput>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
         (click)="updateDate(dateInput)">Actualizar Fecha</button>
      </div>
    </div>
  </div>
</div>

