<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

    @if (auth.isLoggedIn()) {
      @if (auth.decodeToken()?.role === AppConfig.ROLES.ADMIN) {

        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li>
          <div class="btn-group">
            <button type="button" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="admin/user/new">Nuevo Usuario</a></li>
              <li><a class="dropdown-item" href="#">Ver Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="user/top/spent">Top 10 con mas ganancias</a></li>
              <li><a class="dropdown-item" routerLink="#">Top 5 con mas productos vendidos</a></li>
              <li><a class="dropdown-item" routerLink="#">Top 10 con mas paquetes pedidos</a></li>
              <li><a class="dropdown-item" routerLink="#">Top 10 con mas productos en catalogo</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
              Reporte Productos
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/product/top/selling">Top 10 mas venididos</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>

      } @else if (auth.decodeToken()?.role === AppConfig.ROLES.COMMON) {

        <li><a href="/common/home" class="nav-link px-2 link-secondary">Home</a></li>
        <li>
          <div class="btn-group">
            <button type="button" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="product/new">Nuevo Producto</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>

      } @else if (auth.decodeToken()?.role === AppConfig.ROLES.MODERATOR){

        <li><a routerLink="moderator/product/approve" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>

      } @else if (auth.decodeToken()?.role === AppConfig.ROLES.LOGISTIC){

        <li><a routerLink="/logistic/delivery-package" class="nav-link px-2 link-secondary">Paquetes</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>

      }
    }


  </ul>

  <div class="col-md-3 text-end mx-4">
    @if (auth.isLoggedIn()) {
      @if (auth.decodeToken()?.role === 'COMMON') {
        <a class="btn btn-outline-primary mx-2" routerLink="/shopping-cart"><i class="bi bi-cart">Carrito de compras</i></a>
      }
      <a routerLink="logout" type="button" class="btn btn-primary">Cerrar Sesion</a>
    } @else {
      <a routerLink="register" type="button" class="btn btn-outline-primary me-2">Registrarse</a>
      <a routerLink="login" type="button" class="btn btn-primary">Iniciar Sesion</a>
    }
  </div>
</header>
